<!--<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" %>-->
<!--<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" %>-->


<meta name="viewport" content="width=device-width">

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a class="brand-logo center">Hank</a>
      <ul class="left">
        <li>
          <a href="/">Identify</a>
        </li>
        <li class="active">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>

  </nav>
</div>

</br>
<div class="center">
  <p>Damian Polan - <a href="mail:damian.polan@gmail.com">damian.polan@gmail.com</a> - <a href="http://damianpolan.com/Contact.php">Website</a></p>
  <p>Christopher Siewecke - <a href="mail:csiewecke@gmail.com">csiewecke@gmail.com</a></p>

</div>