
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" %>



<nav>
  <div class="nav-wrapper green">
    <a href="/" class="brand-logo right">Genrefy</a>
    <ul class="left">
      <li class="active">
        <a href="">Identify</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </div>

</nav>
</br>
<div class="center">
  <div class="left-align">

  </div>
  <!--<a class="waves-effect waves-light btn green">Record</a>-->

  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
