<!-- Materialize CSS -->
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" %>


<meta name="viewport" content="width=device-width">

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a class="brand-logo center">Hank</a>
      <ul class="left">
        <li class="active">
          <a href="">Identify</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>

  </nav>
</div>

</br>
<div class="center">
  <h1 class="grey-text" id="genre"></h1>

  <p>Press to record and identify the genre of a song.</p>

  <div class="inline-block">
    <a class="waves-effect waves-red btn blue-grey darken-1" id="record" onclick="recordAndIdentify()">
      Record
    </a>
    <div class="progress white">
      <div class="indeterminate grey" id="progbar" hidden></div>
    </div>
    <a class="grey-text text-lighten-5" id="save" href="#">download</a>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

</div>
